<div class="col-md-6">
<%= form_for :activity, url: user_activity_path(current_user , @activity), method: :patch do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
 

  </p>
    <%= f.label :address  %>
    <%= f.text_field :address ,class: "form-control add-location" %>
    <%= f.hidden_field :latitude, id: "llat" %>
    <%= f.hidden_field :longitude, id: "llng" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>