<!DOCTYPE html>
<html>
<head>
  <title>ActivityHelper</title>
  <%= stylesheet_link_tag    "application" , media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "layouts/header" %>
	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
